@tailwind components;

@layer components {
  .container {
    @apply mx-auto w-full max-w-[1288px] px-4 lg:px-8;
  }

  .header {
    @apply absolute top-[20px] left-0 right-0 z-10;
  }

  .footer {
    @apply bg-[#F5F7FA] pt-[54px] lg:pt-[100px] [.leadershippage_&]:bg-gallery;
  }

  .footer__body {
    @apply mb-[40px] flex flex-col gap-0 sm:mb-[52px] lg:mb-[64px] lg:flex-row
    lg:gap-[240px];
  }

  .footer__right {
    @apply mt-[56px] grid w-full grid-cols-[minmax(100px,132px)_minmax(100px,132px)] gap-y-[40px]
    gap-x-[70px] border-t-[1px] border-[rgb(202,205,212,0.8)] pt-[40px]
    sm:gap-y-[44px] sm:pt-[56px]
    md:gap-y-[46px] md:gap-x-[120px]
    lg:mt-0 lg:gap-y-[48px] lg:gap-x-[120px] lg:border-none lg:pt-0
    screen4:grid-cols-[minmax(100px,156px)_minmax(100px,156px)_minmax(100px,156px)];
  }

  .footer__copyright {
    @apply flex w-full gap-x-[95px] gap-y-4 border-t-[1px] border-grey2/80 py-4 opacity-80
    md:!gap-x-[120px]
    lg:grid lg:!grid-cols-[minmax(100px,324px)_minmax(100px,1fr)] lg:items-center lg:py-6
    screen4:grid screen4:grid-cols-[minmax(100px,156px)_minmax(100px,1fr)] screen4:gap-x-[70px];
  }

  .footer__copyright__link {
    @apply w-fit text-sm font-normal leading-130 text-secondary opacity-70;
  }

  .primary-btn {
    @apply rounded-[8px] border-[1px] border-transparent bg-smart py-[11px] px-[24px]
    font-poppins text-[16px] font-semibold leading-[150%] text-[rgba(255,255,255,0.9)] outline-none
    transition-all duration-200 ease-in-out hover:border-smart hover:bg-transparent hover:text-smart focus:border-black
    focus:shadow-[0_0_0_2px_rgba(0,0,0,0.5)] focus-visible:outline-none;
  }

  .stroke-btn {
    @apply rounded-[8px] border-[1px] border-smart bg-transparent py-[11px] px-[24px]
    font-poppins text-[16px] font-semibold leading-[150%] text-[rgba(23,113,220,0.9)]
    transition-all duration-200 ease-in-out hover:border-smart hover:bg-smart hover:text-[rgba(255,255,255,0.9)]
    focus:border-smart focus:shadow-[0_0_0_2px_rgba(23,113,220,0.4)] focus:outline-none focus-visible:outline-none;
  }

  .cta-btn {
    @apply rounded-[8px] border-[1px] border-transparent bg-black py-[11px] px-[24px]
    font-poppins text-[16px] font-semibold leading-[150%] text-[rgba(255,255,255,0.9)] transition-all
    duration-200 ease-in-out hover:border-black hover:bg-white hover:text-black focus:border-black
    focus:shadow-[0_0_0_2px_rgba(202,205,212,0.4)] focus:outline-none focus-visible:outline-none;
  }

  .helpful-btn {
    @apply inline-flex h-[40px] w-[40px] items-center justify-center rounded-full border-[1px] border-transparent bg-helpful
    hover:bg-[#DF7139] focus:border-helpful focus:shadow-[0_0_0_2px_rgba(231,68,68,0.4)] focus:outline-none focus-visible:outline-none
    disabled:bg-helpful lg:h-[56px] lg:w-[56px];
  }

  .white-btn {
    @apply inline-flex h-[40px] w-[40px] items-center justify-center rounded-full border-[1px] border-transparent bg-white
    hover:bg-white focus:border-white focus:shadow-[0_0_0_2px_rgba(255,255,255,0.4)] focus:outline-none focus-visible:outline-none
    disabled:bg-white disabled:opacity-60 lg:h-[56px] lg:w-[56px];
  }

  .category-btn {
    @apply w-fit shrink-0 rounded-[30px] border border-[rgba(202,205,212,0.8)] font-poppins text-[15px] font-normal leading-[100%]
    tracking-[-0.01em] focus:shadow-[0_0_0_2px_rgba(202,205,212,0.4)] focus:outline-none focus-visible:outline-none
    lg:text-lg;
  }

  .category-btn--active {
    @apply w-fit shrink-0 rounded-[30px] border border-[rgba(202,205,212,0.8)] border-thriving bg-thriving font-poppins text-[15px]
    font-normal leading-[100%] tracking-[-0.01em] text-white
    focus:shadow-[0_0_0_2px_rgba(60,143,115,0.4)] focus:outline-none focus-visible:outline-none lg:text-lg;
  }

  .tag {
    @apply rounded-[50px] border border-white px-[12px] py-[10px] font-poppins text-base font-medium leading-[100%]
    tracking-[-0.01em] text-[#F9FBFF];
  }

  .form-input {
    @apply rounded-[8px] border-[1px] border-[rgba(202,205,212,0.8)] px-[16px] py-[10px] font-nunito text-base font-normal
    leading-160 text-black outline-none hover:border-smart focus:border-smart focus:shadow-[0_0_0_2px_rgba(23,113,220,0.4)]
    focus-visible:outline-none;
  }

  .form-input--error {
    @apply focus:border-error focus:shadow-[0_0_0_2px_rgba(231,68,68,0.4)] focus-visible:outline-none;
  }

  .form-input--blackOutline {
    @apply hover:border-black focus:border-[1px] focus:border-black focus:shadow-[0_0_0_2px_rgba(0,0,0,0.4)] focus:outline-none
    focus-visible:outline-none;
  }

  .search-input {
    @apply rounded-[8px] border-[1px] border-[#CACDD4] focus:border-smart focus:shadow-[0_0_0_2px_rgba(23,113,220,0.4)]
    focus:outline-none focus-visible:outline-none;
  }

  .form-select {
    @apply appearance-none rounded-[8px] border-[1px] border-[rgba(202,205,212,0.8)] bg-white px-[16px] py-[11px] font-nunito
    text-base font-normal leading-160 text-black focus:border-smart focus:shadow-[0_0_0_2px_rgba(23,113,220,0.4)] focus:outline-none
    focus-visible:outline-none;
  }

  /* Styles for 2col form */

  #hubspotform form {
    @apply flex flex-col gap-y-8;
  }

  #hubspotform form fieldset > div > *:not(:nth-child(-n + 4)) {
    @apply mt-4;
  }

  #hubspotform form fieldset ul[class*='hs-error-msgs'] label {
    @apply absolute top-auto translate-y-1 text-[14px] leading-none text-error;
  }

  #hubspotform form fieldset {
    @apply max-w-none;
  }

  #hubspotform form div[class='hs_error_rollup'] {
    @apply hidden;
  }

  #hubspotform form fieldset[class*='form-columns-2'] {
    @apply flex flex-row gap-x-6;
  }

  #hubspotform form fieldset .field {
    @apply relative;
  }

  #hubspotform form fieldset .field > *:first-child {
    @apply mb-1;
  }

  #hubspotform form fieldset .field label {
    @apply relative flex w-full flex-col gap-1 font-nunito text-base font-medium leading-160 text-black;
  }

  #hubspotform form fieldset .field label .hs-form-required {
    @apply hidden;
  }

  #hubspotform form fieldset .field .input {
    @apply mr-0;
  }

  #hubspotform form fieldset .field input {
    @apply w-full rounded-[8px] border-[1px] border-[rgba(202,205,212,0.8)] px-[16px] py-[10px] font-nunito text-base font-normal
    leading-160 text-black outline-none hover:border-smart focus:border-smart focus:shadow-[0_0_0_2px_rgba(23,113,220,0.4)]
    focus-visible:outline-none;
  }

  #hubspotform form fieldset .field input[class*='error'] {
    @apply border-[rgba(231,68,68,1)] focus:border-error focus:shadow-[0_0_0_2px_rgba(231,68,68,0.4)] focus-visible:outline-none;
  }

  #hubspotform form fieldset .field select {
    @apply w-full appearance-none rounded-[8px] border-[1px] border-[rgba(202,205,212,0.8)] bg-white px-[16px] py-[10px] font-nunito
    text-base font-normal leading-160 text-black focus:border-smart focus:shadow-[0_0_0_2px_rgba(23,113,220,0.4)] focus:outline-none
    focus-visible:outline-none;
    background: #fff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M4 6L7.78787 9.78787C7.90503 9.90503 8.09497 9.90503 8.21213 9.78787L12 6' stroke='%23121212' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
  }

  #hubspotform form fieldset .field select[class*='is-placeholder'] {
    @apply text-[16px] text-[#9e9e9e];
  }

  #hubspotform form fieldset .field select[class*='error'] {
    @apply border-[rgba(231,68,68,1)] focus:border-error focus:shadow-[0_0_0_2px_rgba(231,68,68,0.4)] focus-visible:outline-none;
  }

  #hubspotform form fieldset .field textarea {
    @apply w-full min-h-[100px] rounded-[8px] border-[1px] border-[rgba(202,205,212,0.8)] px-[16px] py-[10px] font-nunito text-base font-normal
    leading-160 text-black outline-none hover:border-smart focus:border-smart focus:shadow-[0_0_0_2px_rgba(23,113,220,0.4)]
    focus-visible:outline-none;
  }

  #hubspotform form div[class*='hs-submit'] input {
    @apply -mt-2 primary-btn bg-smart w-full cursor-pointer;
  }

  /* End Styles for 2col form */

  /* Styles for 1col form */

  #hubspotform form {
    @apply flex flex-col gap-y-8;
  }

  #hubspotform form > div > *:not(:nth-child(-n + 4)) {
    @apply translate-y-4;
  }

  #hubspotform form > div ul[class*='hs-error-msgs'] label {
    @apply absolute top-auto translate-y-1 text-[14px] leading-none text-error;
  }

  #hubspotform form > div {
    @apply max-w-none;
  }

  #hubspotform form div[class='hs_error_rollup'] {
    @apply hidden;
  }

  #hubspotform form > div.field {
    @apply relative;
  }

  #hubspotform form > div.field > *:first-child {
    @apply mb-1;
  }

  #hubspotform form > div.field label {
    @apply relative flex w-full flex-col gap-1 font-nunito text-base font-medium leading-160 text-black;
  }

  #hubspotform form > div.field label .hs-form-required {
    @apply hidden;
  }

  #hubspotform form > div.field .input {
    @apply mr-0;
  }

  #hubspotform form > div.field input {
    @apply w-full rounded-[8px] border-[1px] border-[rgba(202,205,212,0.8)] px-[16px] py-[10px] font-nunito text-base font-normal
    leading-160 text-black outline-none hover:border-smart focus:border-smart focus:shadow-[0_0_0_2px_rgba(23,113,220,0.4)]
    focus-visible:outline-none;
  }

  #hubspotform form > div.field input[class*='error'] {
    @apply border-[rgba(231,68,68,1)] focus:border-error focus:shadow-[0_0_0_2px_rgba(231,68,68,0.4)] focus-visible:outline-none;
  }

  #hubspotform form > div.field select {
    @apply w-full appearance-none rounded-[8px] border-[1px] border-[rgba(202,205,212,0.8)] bg-white px-[16px] py-[10px] font-nunito
    text-base font-normal leading-160 text-black focus:border-smart focus:shadow-[0_0_0_2px_rgba(23,113,220,0.4)] focus:outline-none
    focus-visible:outline-none;
    background: #fff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M4 6L7.78787 9.78787C7.90503 9.90503 8.09497 9.90503 8.21213 9.78787L12 6' stroke='%23121212' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
  }

  #hubspotform form > div.field select[class*='is-placeholder'] {
    @apply text-[16px] text-[#9e9e9e];
  }

  #hubspotform form > div.field select[class*='error'] {
    @apply border-[rgba(231,68,68,1)] focus:border-error focus:shadow-[0_0_0_2px_rgba(231,68,68,0.4)] focus-visible:outline-none;
  }

  #hubspotform form > div.field textarea {
    @apply w-full min-h-[100px] rounded-[8px] border-[1px] border-[rgba(202,205,212,0.8)] px-[16px] py-[10px] font-nunito text-base font-normal
    leading-160 text-black outline-none hover:border-smart focus:border-smart focus:shadow-[0_0_0_2px_rgba(23,113,220,0.4)]
    focus-visible:outline-none;
  }

  #hubspotform form div[class*='hs-submit'] input {
    @apply -mt-2 primary-btn bg-smart w-full cursor-pointer;
  }

  /* End Styles for 1col form */

  /* End Styles for Landing 1col form */

  #hubspotform[page='landing'] form {
    @apply flex flex-col gap-y-8;
  }

  #hubspotform[page='landing'] form > div > *:not(:nth-child(-n + 4)) {
    @apply translate-y-4;
  }

  #hubspotform[page='landing'] form > div ul[class*='hs-error-msgs'] label {
    @apply absolute top-auto translate-y-1 text-[14px] leading-none text-error;
  }

  #hubspotform[page='landing'] form > div {
    @apply max-w-none;
  }

  #hubspotform[page='landing'] form div[class='hs_error_rollup'] {
    @apply hidden;
  }

  #hubspotform[page='landing'] form > div.field {
    @apply relative;
  }

  #hubspotform[page='landing'] form > div.field > *:first-child {
    @apply mb-1;
  }

  #hubspotform[page='landing'] form > div.field label {
    @apply relative flex w-full flex-col gap-1 font-nunito text-base font-medium leading-160 text-black;
  }

  #hubspotform[page='landing'] form > div.field label .hs-form-required {
    @apply hidden;
  }

  #hubspotfor[page='landing'] form > div.field .input {
    @apply mr-0;
  }

  #hubspotform[page='landing'] form > div.field input {
    @apply w-full rounded-[8px] border-[1px] border-[rgba(202,205,212,0.8)] px-[16px] py-[10px] font-nunito text-base font-normal
    leading-160 text-black outline-none hover:border-smart focus:border-smart focus:shadow-[0_0_0_2px_rgba(23,113,220,0.4)]
    focus-visible:outline-none;
  }

  #hubspotform[page='landing'] form > div.field input[class*='error'] {
    @apply border-[rgba(231,68,68,1)] focus:border-error focus:shadow-[0_0_0_2px_rgba(231,68,68,0.4)] focus-visible:outline-none;
  }

  #hubspotform[page='landing'] form > div.field select {
    @apply w-full appearance-none rounded-[8px] border-[1px] border-[rgba(202,205,212,0.8)] bg-white px-[16px] py-[10px] font-nunito
    text-base font-normal leading-160 text-black focus:border-smart focus:shadow-[0_0_0_2px_rgba(23,113,220,0.4)] focus:outline-none
    focus-visible:outline-none;
    background: #fff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M4 6L7.78787 9.78787C7.90503 9.90503 8.09497 9.90503 8.21213 9.78787L12 6' stroke='%23121212' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
  }

  #hubspotform[page='landing'] form > div.field select[class*='is-placeholder'] {
    @apply text-[16px] text-[#9e9e9e];
  }

  #hubspotform[page='landing'] form > div.field select[class*='error'] {
    @apply border-[rgba(231,68,68,1)] focus:border-error focus:shadow-[0_0_0_2px_rgba(231,68,68,0.4)] focus-visible:outline-none;
  }

  #hubspotform[page='landing'] form > div.field textarea {
    @apply w-full min-h-[100px] rounded-[8px] border-[1px] border-[rgba(202,205,212,0.8)] px-[16px] py-[10px] font-nunito text-base font-normal
    leading-160 text-black outline-none hover:border-smart focus:border-smart focus:shadow-[0_0_0_2px_rgba(23,113,220,0.4)]
    focus-visible:outline-none;
  }

  #hubspotform[page='landing'] form div[class*='hs-submit'] input {
    @apply -mt-2 w-full cta-btn bg-black lg:w-auto cursor-pointer;
  }

  /* End Styles for Landing 1col form */
}
